
.organizations{
    display: flex;
    justify-content: space-between;
    background:#f1f4f9; 
    padding: 1.1pc;
    margin: 3px 0 3px 0
}

.organizations h5{
    color: #c2c4c7;
}

.organizations-logo h4{
    color: rgb(22, 2, 75);
}

.organizations-logo-block{
    display: flex;
    gap: 30px;
    align-items: center;
}

.organizations-img img{
    border-radius: 3px;
    width: 30px;
    height: 30px;
}

.organizations-info{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    color:  rgb(22, 2, 75) ;
}

@media screen and (max-width:433px){
    .organizations{
        flex-wrap: wrap;
        background:#f1f4f9; 
        padding: 0px 10px 0px 10px;
    }
}