
.organizations{
    display: flex;
    justify-content: space-between;
    background:#f1f4f9; 
    padding: 0px 10px 0px 10px;
}
.organizations h5{
    color: #c2c4c7;
}
.organizations-logo h4{
    color: black    ;
}

.organizations-logo-block{
    display: flex;
    gap: 30px;
    align-items: center;
}
.organizations-img img{
    width: 50px;
    height: 50px;
}
.organizations-info{
    display: flex;
    justify-content: end;
    gap: 20px;
}
@media screen and (max-width:433px){
    .organizations{
        flex-wrap: wrap;
        background:#f1f4f9; 
        padding: 0px 10px 0px 10px;
    }
}