.community-main .block[data-v-a2ede7f6] {
  display: flex;
  flex-wrap: wrap;
}

.community-main .heading[data-v-a2ede7f6] {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  font-size: 18px;
  letter-spacing: 0.03em;
}

.community-main .heading .description[data-v-a2ede7f6] {
  display: flex;
  align-items: center;
}

button {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 38px;
  padding: 0 25px;
  min-width: 145px;
  background: #6fcf97;
  color: #fff;
  border: none;
}


.community-main .block .title[data-v-a2ede7f6] {
  flex: 1 1 100%;
  color: #a7b0c2;
  font-size: 24px;
  letter-spacing: 0.03em;
  font-weight: 700;
  margin: 35px 0 25px;
}
.community-main .block .item {
  display: flex;
  gap: 20px;
}
.community-main .block .item .icon[data-v-a2ede7f6] {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.icon-devkg {
  max-width: 30px;
  height: 30px;
}

.community-main .block .item[data-v-a2ede7f6] {
  position: relative;
  flex: 0 0 270px;
  margin-right: 13px;
  height: 55px;
  font-weight: 700;
  margin-bottom: 13px;
  padding-right: 8px;
  color: #fff;
  padding-left: 40px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
}

.community-main .block.devkg .item[data-v-a2ede7f6] {
  background: #0085ff;
}
.community-main .block.telegram_chats .item[data-v-a2ede7f6] {
  background: #2ca5e0;
}
.community-main .block.telegram_channels .item[data-v-a2ede7f6] {
  background: #2ca5e0;
}
.community-main .block.websites .item[data-v-a2ede7f6] {
  background: #6fcf97;
}
.community-main .block.facebook .item[data-v-a2ede7f6] {
  background: #3b5998;
}
.community-main .block.youtube .item[data-v-a2ede7f6] {
  background: red;
}
.community-main .block.github .item[data-v-a2ede7f6] {
  background: #262626;
}

@media (min-width: 0) and (max-width: 576px) {
  .content {
    padding: 10px;
  }
}

@media (min-width: 0) and (max-width: 500px) {
  .community-main .heading .green[data-v-a2ede7f6] {
    margin-top: 10px;
  }
  .community-main .block .title[data-v-a2ede7f6] {
    margin-left: 0;
  }
  .community-main .heading[data-v-a2ede7f6] {
    flex-direction: column;
  }
}