.sql-item{
    display: flex;
    flex-direction: column;
    background: rgb(37, 157, 217);
}

.sql-date{
    padding: 20px 30px;
}

time{
    color:#fff ;
}

.sql-title{
    margin: 180px 0 0 30px;
    color: #fff;
}

.sql-mate{
    display: flex;
    gap: 5pc;
    margin: 0 0 40px 30px;
    color: #fff;
}