.battle-item{
    display: flex;
    flex-direction: column;
    background: rgb(117, 237, 113);
}

.battle-date{
    padding: 20px 30px;
}

time{
    color:#fff ;
}

.battle-title{
    margin: 180px 0 0 30px;
    color: #fff;
}

.battle-mate{
    display: flex;
    gap: 5pc;
    margin: 0 0 40px 30px;
    color: #fff;
}