.filter[data-v-6a5c720c] {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.add_vacancies {
  margin: 0 0 0 20px;
  padding: 10px 25px;
  border: none;
  background: #6fcf97;
  color: #fff;
  font-size: 14px;
}
.create-list {
  margin-bottom: 20px;
}

.jobs-item[data-v-6dc437e8] {
  display: flex;
  background: #f1f4f9;
  color: #191f5d;
  margin-bottom: 2px;
  font-size: 16px;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.content {
  max-width: 1176px;
  margin:1px;
  flex: 1;
}

.information{
  display: flex;
  justify-content: space-between;
}
.jobs-item .jobs-item-field.icon[data-v-6dc437e8] {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 30px;
}
.jobs-item .jobs-item-field[data-v-6dc437e8] {
  padding-right: 20px;
 background: rgb(243, 242, 242);
 padding: 5px;

}

.jobs-item-field .position{
 display: flex;
 flex-direction: column;
}

.jobs-list{
  display: flex;
  justify-content: space-between;

}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.jobs-item .jobs-item-field.icon .image[data-v-6dc437e8] {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  margin-top: 3px;
}

h4{
  color: rgb(4, 40, 74);
}

.joblistsvg{
  width: 35px;
  height: 35px;
  border-radius: 2px;
margin:0 20px 0 0 ;}

picture[data-v-7ad410c8] img .jobList{
  border-radius: 50%;
}

.preview.white[data-v-7ad410c8] {
  background: #fff;
}
.preview[data-v-7ad410c8] {
  background: #000;
  background: linear-gradient(120deg, #222, #4a4a4a 35%, #000);
  position: relative;
  overflow: hidden;
}
.jobs-item[data-v-6dc437e8] {
  display: flex;
  background: #f1f4f9;
  color: #191f5d;
  margin-bottom: 2px;
  font-size: 16px;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.preview.contain img[data-v-7ad410c8] {
  -o-object-fit: contain;
  object-fit: contain;
}
.preview img[data-v-7ad410c8],
.preview span[data-v-7ad410c8] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.preview img[data-v-7ad410c8] {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}



.jobs-item .information[data-v-6dc437e8] {
  display: flex;
  width: 100%;
}
.jobs-item .information div.jobs-item-field.company[data-v-6dc437e8] {
  flex: 0 0 25%;
}
.jobs-item .jobs-item-field[data-v-6dc437e8] {
  padding-right: 20px;
}

.jobs-item-field .price{
  display: flex;
  flex-direction: column;
}
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}
.jobs-item[data-v-6dc437e8] {
  display: flex;
  background: #f1f4f9;
  color: #191f5d;
  margin-bottom: 2px;
  font-size: 16px;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.jobs-item .label[data-v-6dc437e8] {
  display: block;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #616266;
  margin-bottom: 2px;
}
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}
.jobs-item[data-v-6dc437e8] {
  display: flex;
  background: #f1f4f9;
  color: #191f5d;
  margin-bottom: 2px;
  font-size: 16px;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.jobs-item .information div.jobs-item-field.position[data-v-6dc437e8] {
  flex: 0 0 30%;
}
.jobs-item .information div.jobs-item-field.price[data-v-6dc437e8] {
  flex: 0 0 25%;
}
.jobs-item .information div.jobs-item-field.type[data-v-6dc437e8] {
  flex: 1;
}

@media (min-width: 0) and (max-width: 900px) {
  .jobs-item .information[data-v-6dc437e8] {
    flex-wrap: wrap;
  }
  .jobs-item .information div.jobs-item-field.company[data-v-6dc437e8] {
    flex: 0 0 50%;
  }
  .jobs-item .information div.jobs-item-field.position[data-v-6dc437e8] {
    flex: 0 0 50%;
  }
  .jobs-item .information div.jobs-item-field.price[data-v-6dc437e8] {
    flex: 0 0 50%;
  }
  .jobs-item .information div.jobs-item-field.type[data-v-6dc437e8] {
    flex: 0 0 50%;
  }
  .jobs-item .jobs-item-field[data-v-6dc437e8]:nth-child(n-2) {
    margin-bottom: 10px;
  }
}

@media (min-width: 0) and (max-width: 576px) {
  .content {
    padding: 10px;
  }
  .jobs-item .jobs-item-field[data-v-6dc437e8] {
    padding-right: 10px;
    margin-bottom: 10px;
  }
  .jobs-item .jobs-item-field.icon[data-v-6dc437e8] {
    align-items: flex-start;
    flex: 0 0 50px;
  }
  .jobs-item .information div.jobs-item-field.company[data-v-6dc437e8] {
    flex: 0 0 100%;
  }
  .jobs-item .information div.jobs-item-field.position[data-v-6dc437e8] {
    flex: 0 0 100%;
  }
  .jobs-item .information div.jobs-item-field.price[data-v-6dc437e8] {
    flex: 0 0 100%;
  }
  .jobs-item .information div.jobs-item-field.type[data-v-6dc437e8] {
    flex: 0 0 100%;
  }
}
