.kitforum-item{
    display: flex;
    flex-direction: column;
    background: rgb(237, 113, 165);
}

.kitforum-date{
    padding: 20px 30px;
}

time{
    color:#fff ;
}

.kitforum-title{
    margin: 250px 0 0 30px;
    color: #fff;
}
.kitforum-mate{
    display: flex;
    gap: 5pc;
    margin: 0 0 40px 30px;
    color: #fff;
}


@media (max-width: 800px) {

    .kitforum-title{
        margin: 250px 0 0 30px;
        color: #fff;
        font-size: 20px;
    }
}

@media (max-width: 660px) {

    .kitforum-title{
        margin: 170px 0 0 30px;
        color: #fff;
        font-size: 27px;
    }

    .kitforum-mate{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 2pc;
        margin: 0 0 50px 30px;
        color: #fff;
    }
}

@media (max-width: 537px) {

    .kitforum-date{
        padding: 20px 30px;
        display: flex;
        justify-content: end;
    }
}