.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.header-logo img {
    width: 90px;
    background: none;
    height: 40px;
    cursor: pointer;
}
.header__nav {
    display: flex;
    gap: 5pc;
}
.header__nav a {
    text-decoration: none;
    color: #a7b0c2;
    font-size: 16px;
    letter-spacing: 0.03em;
    font-weight: 700;
    transition: all 0.2s;
}

.header__enter span {
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background: #a7b0c2;
    color: #fff;
    margin-right: 15px;
}
.header__enter button {
    padding: 0 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: #191f5d;
    background: #f0f0f0;
    width: auto;
    min-width: auto;
    font-size: 16px;
    letter-spacing: 0.03em;
    font-weight: 700;
    transition: all 0.2s;
    margin-left: 30px;
    border: none;
    border-radius: 3px;
    overflow: hidden;
}



