.expo-item{
    display: flex;
    flex-direction: column;
    background: rgb(85, 48, 63);
}

.expo-date{
    padding: 20px 30px;
}

time{
    color:#fff ;
}

.expo-title{
    margin: 180px 0 0 30px;
    color: #fff;
}

.expo-mate{
    display: flex;
    gap: 5pc;
    margin: 0 0 40px 30px;
    color: #fff;
}