.awards-item{
    display: flex;
    flex-direction: column;
    background: rgb(237, 113, 165);
}

.awards-date{
    padding: 20px 30px;
}

time{
    color:#fff ;
}

.awards-title{
    margin: 180px 0 0 30px;
    color: #fff;
}

.awards-mate{
    display: flex;
    gap: 5pc;
    margin: 0 0 40px 30px;
    color: #fff;
}