.events__button{
    display: flex;
    align-items: center;
    justify-content: end;
}

button{
    padding: 10px 25px;
    border: none;
    background: rgb(64, 224, 163);
    color: #f7f7f7;
}


.login-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box p {
    margin: 10px 0;
}

.login-button {
    background-color: #0088cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #0077b3;
}

.note {
    font-size: 12px;
    color: #666;
    margin-top: 20px;
}
