.video-add button {
    background: #6fcf97;
    color: #fff;
    width: 200px;
    height: 40px;
    border: none;
    border-color: #6fcf97;
}
.video-add {
    display: flex;
    justify-content: end;
}
.video-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 100%;
    gap: 20px;
}
.main-block {
    position: relative;
}
.first__block img {
    width: 570px;
    height: 361px;
}
.first__block-title {
    position: absolute;
    z-index: 10;
    font-size: 25px;
    width: 570px;
    height: 355px;
    top: 10px;
    backdrop-filter: blur(10px);
    color: white;
}
.first__block-organizer {
    position: absolute;
    z-index: 10;
    width: 570px;
    height: 355px;
    top: 250px;
    left: 10px;
    color: white;
}
.first__block-data {
    position: absolute;
    top: 250px;
    z-index: 10;
    color: white;
    left: 300px;
}
@media screen and (max-width: 1171px) {
    .first__block img {
        width: 400px;
        height: 361px;
    }
    .first__block-title {
        position: absolute;
        z-index: 10;
        font-size: 25px;
        width: 400px;
        height: 355px;
        top: 10px;
        backdrop-filter: blur(10px);
        color: white;
    }
    .first__block-organizer {
        position: absolute;
        z-index: 10;
        width: 400px;
        height: 355px;
        top: 250px;
        left: 10px;
        color: white;
    }
    .first__block-data {
        position: absolute;
        top: 250px;
        z-index: 10;
        color: white;
        left: 270px;
    }
}
@media screen and (max-width: 1133px) {
    .first__block img {
        width: 400px;
        height: 361px;
    }
    .first__block-title {
        position: absolute;
        z-index: 10;
        font-size: 25px;
        width: 400px;
        height: 355px;
        top: 10px;
        backdrop-filter: blur(10px);
        color: white;
    }
    .first__block-organizer {
        position: absolute;
        z-index: 10;
        width: 400px;
        height: 355px;
        top: 250px;
        left: 10px;
        color: white;
    }
    .first__block-data {
        position: absolute;
        top: 250px;
        z-index: 10;
        color: white;
        left: 270px;
    }
}
@media screen and (max-width: 1040px) {
    .first__block img {
        width: 400px;
        height: 361px;
    }
    .first__block-title {
        position: absolute;
        z-index: 10;
        font-size: 25px;
        width: 400px;
        height: 355px;
        top: 10px;
        backdrop-filter: blur(10px);
        color: white;
    }
    .first__block-organizer {
        position: absolute;
        z-index: 10;
        width: 400px;
        height: 355px;
        top: 250px;
        left: 10px;
        color: white;
    }
    .first__block-data {
        position: absolute;
        top: 250px;
        z-index: 10;
        color: white;
        left: 270px;
    }
}
@media screen and (max-width: 837px) {
    .first__block img {
        width: 360px;
        height: 361px;
    }
    .first__block-title {
        position: absolute;
        z-index: 10;
        font-size: 25px;
        width: 360px;
        height: 355px;
        top: 10px;
        backdrop-filter: blur(10px);
        color: white;
    }
    .first__block-organizer {
        position: absolute;
        z-index: 10;
        width: 360px;
        height: 355px;
        top: 250px;
        left: 10px;
        color: white;
    }
    .first__block-data {
        position: absolute;
        top: 250px;
        z-index: 10;
        color: white;
        left: 270px;
    }
}
@media screen and (max-width: 767px) {
    .video-block {
       display: flex;
       flex-direction: column;
    }
}

