.filter[data-v-6a5c720c] {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .add_vacancies {
    margin: 0 0 0 20px;
    padding: 0px 15px;
    border: none;
    background: #6fcf97;
    color: #fff;
    font-size: 14px;
  }
  
  .video-title {
    color: #a7b0c2;
    font-size: 24px;
    letter-spacing: 0.03em;
    font-weight: 700;
  }
  
  .video [data-v-1b4a0f3e] {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .meetups-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .meetups-page-list .meetups-page-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .meetups-wrapper {
    height: 396px;
    width: calc(100% - 30px);
    display: flex;
    margin-bottom: 10px;
  }
  .meetups-item {
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    margin-top: 35px;
  }
  
  img {
    max-width: 100%;
  }
  .meetups-item .dark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  .preview {
    background: #000;
    background: linear-gradient(120deg, #222, #4a4a4a 35%, #000);
    position: relative;
    overflow: hidden;
  }
  
  .preview.image.dark img {
    opacity: 0.5;
    filter: blur(10px);
    transform: scale(1.1);
  }
  
  .preview img,
  .preview span {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  .preview img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }
  
  .meetups-item .meta {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 29px 37px;
    font-weight: 700;
    color: #fff;
  }
  
  .meetups-item .meta .title[data-v-4ff14bbb] {
    font-size: 30px;
    letter-spacing: 0.03em;
    padding-right: 80px;
    flex: 1 1 100%;
    margin-bottom: 20px;
  }
  
  .meetups-info {
    display: flex;
    flex-direction: row;
  }
  .meetups-item .meta .organizer {
    min-width: 143px;
    max-width: 281px;
    margin-right: 20px;
    height: 64px;
  }
  
  .meetups-item .meta .label {
    display: block;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 300;
    margin-bottom: 2px;
  }
  .meetups-item .meta .date {
    width: 65%;
    padding-right: 20px;
  }
  .meetups-item .meta .label {
    display: block;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 300;
    margin-bottom: 2px;
  }
  
  @media (min-width: 0) and (max-width: 1000px) {
      .meetups-item .meta .organizer[data-v-4ff14bbb] {
          width: 100%;
          margin-right: 0;
          margin-bottom: 15px;
      }
  }
  
  @media (min-width: 0) and (max-width: 1000px) {
      .meetups-item .meta .date[data-v-4ff14bbb] {
          width: 100%;
      }
  }
  
  @media (min-width: 0) and (max-width: 980px) {
    .meetups-content {
      display: grid;
      grid-template-columns: 1fr;
      /* gap: 20px; */
    }
  }
  
  @media (min-width: 0px) and (max-width: 860px) {
    .meetups-item .meta .title[data-v-4ff14bbb] {
      padding-right: 0;
      font-size: 25px;
    }
  }
  
  @media (min-width: 0) and (max-width: 760px) {
    .meetups-wrapper {
      width: 100%;
      flex-wrap: wrap;
    }
    .meetups-info {
      display: flex;
      flex-direction: column;
    }
  }
  
  @media (min-width: 0) and (max-width: 576px) {
    .content {
      padding: 10px;
    }
  }